<section class="c-services">
  <div class="container">
    <div class="row justify-content-center justify-content-md-start">
      <div class="col-lg-4 col-md-6 col-xs-12 col-sm-10 mt-2 mt-lg-0">
        <div class="c-services__item text-center">
          <a mat-stroked-button [color]="'primary'" data-testid="people-btn" routerLink="/people"
            >People</a
          >
          <p class="mt-3">Get to know your beloved characters!</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 col-sm-10 mt-2 mt-lg-0">
        <div class="c-services__item text-center">
          <a mat-stroked-button [color]="'primary'" data-testid="movies-btn" routerLink="/planets"
            >Planets</a
          >
          <p class="mt-3">
            Want to know how many planets were shown in the movies?
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 col-sm-10 mt-2 mt-lg-0">
        <div class="c-services__item text-center">
          <a mat-stroked-button [color]="'primary'" data-testid="planets-btn" routerLink="/movies"
            >Movies</a
          >
          <p class="mt-3">Find out all star wars movies!</p>
        </div>
      </div>
    </div>
  </div>
</section>
